li {
    list-style: none;
    font-weight: 400;
    opacity: 0.8;
    padding : 20px;
    margin-bottom: 10px;
    background-color: azure;
    border : 1px solid cornflowerblue;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

li:hover {
    opacity: 0.3;
}