
.line-graph-ctn {
    border-top: 1px solid #ddd;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    background-color : red;
}

.bubble {
    height : 20px;
    width : 20px;
    border-radius: 50%;
    background-color: #00BFA5;
}